<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head}"></head>

<body>
<nav th:replace="~{fragments :: nav}"></nav>

<div class="container d-flex flex-column align-items-center justify-content-center">
    <h1>Log in</h1>
    <form method="post">
    <div class="form-group">
        <label th:for="name">Username</label>
        <input type="text" class="form-control" />
        <span class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="name">Password</label>
        <input type="password" class="form-control" />
        <span class="error"></span>
    </div>

    <input type="submit" value="Log in" class="btn btn-primary">

</form>
<p>No account? <a href="/user/new-account">Click Here</a> to create a new account</p>
</div>
</body>
</html>