<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<h1>Create an account</h1>
<form method="post" action="/user/new-account">
    <label>Username
        <input type="text">
    </label>
    <label>Email
        <input type="text">
    </label>
    <label>Password
        <input type="password">
    </label>
    <label>Confirm Password
        <input type="password">
    </label>
    <label>
        <input type="submit" value="Create Account">
    </label>
</form>

</body>
</html>